clientAuthenticationMethod="client_secret_post"
clientId="liferay-client"
clientSecret="secret" # pragma: allowlist secret
discoveryEndpointUrl="http://keycloak:8080/realms/liferay/.well-known/openid-configuration"
issuer="http://localhost:8081/realms/liferay"
providerName="Keycloak"
scopes=[ \
  "openid", \
  "email", \
  "profile", \
  ]
subjectTypes=[ \
  "public", \
  ]